@model IEnumerable<SchoolForum.Models.Message>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="container">
        ...
    </div>
</div>

<div>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("New Message", "Create", null, new { @class = "btn btn-primary" })
    }
</div><br />
<table class="table table-striped table-hover table-responsive">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Title)
            @Html.DisplayNameFor(model => model.Text)*@
            <h3>Messages</h3>
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Text)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
           <div>@Html.DisplayFor(modelItem => item.Text)</div>
@Html.DisplayFor(modelItem => item.Reply.)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>*@
        <td>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })<span></span>
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })<span></span>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-primary" })<span></span>
                @Html.ActionLink("Reply", "Create", "Replies")<span></span>
            }
        </td>
    </tr>
}

</table>
