@*@model IEnumerable<SchoolForum.Models.ViewModel.MessagesViewModel>*@
@model SchoolForum.Models.ViewModel.MessagesViewModel

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="container">
        <div class="text-center animated jackInTheBox">
            <p>
                <h3>Press</h3>
                <i class="glyphicon glyphicon-plus"></i> to create a new message.<br />
                <i>OR</i><br />
                <i class="glyphicon glyphicon-arrow-left"></i> to go back to the categories list.
            </p>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink(" ", "Index", "SchoolForum", new { id = Model.Id }, new { @class = "glyphicon glyphicon-arrow-left" })
</div>

<table class="table table-responsive table-hover table-striped">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>*@
        @*<th>
            <h4>
                @Html.DisplayNameFor(model => model.Title)
            </h4>
            <p>
                @Html.DisplayNameFor(model => model.Text)
            </p>
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Textreply)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.ReplyingDate)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.UserReply)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.NumberOfReply)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.NumberOfMessages)
        </th>*@
        @*<th>
            <h6>
                @Html.DisplayNameFor(model => model.User)
            </h6>
            <i>
                @Html.DisplayNameFor(model => model.PostingDate)
            </i>
        </th>*@
        <th>
            @if (User.Identity.IsAuthenticated)
            {
                    @Html.ActionLink(" ", "Create", null, new { @class = "glyphicon glyphicon-plus"})
            }
        </th>
         
    </tr>

@*@foreach (var item in Model) {*@
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>*@
        <td>
            <h4>
                @Html.DisplayFor(model => model.Title)
            </h4>
            <span class="badge">
                @Html.DisplayFor(model => model.PostingDate)<span></span>
                @Html.DisplayFor(model => model.User)
            </span>
            <p>
                @Html.DisplayFor(model => model.Text)
            </p>
            <i>
                @Html.ActionLink(" ", "Edit", new { id = Model.Id }, new { @class="glyphicon glyphicon-edit"})<span></span>
                @Html.ActionLink(" ", "Details", new { id = Model.Id }, new { @class="glyphicon glyphicon-list"})<span></span>
                @Html.ActionLink(" ", "Delete", new { id = Model.Id }, new { @class="glyphicon glyphicon-remove-circle"})<span></span>
            </i>
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Textreply)
        @*</td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ReplyingDate)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.UserReply)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.NumberOfReply)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.NumberOfMessages)
        </td>*@
        <td>

            
        </td>
    </tr>
@*}*@

</table>
