<!DOCTYPE html>
<html> 
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SchoolForum</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                   @* <img src="~/Img/5db739df-1fd0-4afb-8870-c5c305dffee7.png" alt="SchoolLogo" width="80" height="80" />*@
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 @Html.ActionLink(" SchoolForum", "Index", "SchoolForum", new { area = "" }, new { @class = "navbar-brand fa fa-home" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("teacher"))
                    {
                        <li>@Html.ActionLink(" Users", "Index", "Students", new { @class= "fa fa-user"})</li>
                    }
                    <li>@Html.ActionLink(" Message", "Index", "Messages", new { @class= "fa fa-envelope" })</li>

                   
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <i class="fa fa-linkedin"></i>
            <i class="fa fa-github-alt"></i>
            <p>&copy; @DateTime.Now.Year - SchoolForum</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
