@model SchoolForum.Models.Categories

@{
    ViewBag.Title = "Delete Category";
}

<h2>Delete category</h2>

<h3>Are you sure you want to delete this category?</h3>
<div>
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Notice:</span>
        The category will remove from the database, and all the messages.
    </div> 
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Members)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Members)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink(" ", "Index", null, new { @class = "glyphicon glyphicon-arrow-left" })<span></span>
            <input type="submit" value="Delete" class="btn btn-primary" /><span></span>
        </div>
    }
</div>
