@model IEnumerable<SchoolForum.Models.ViewModel.MessageViewModel>

@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <div class="container">
        ...
    </div>
</div>


 
<table class="table table-responsive table-responsive table-striped">
    <tr>       
        <th>
            <h4>Message</h4>            
        </th>
        <th>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink(" ", "Create", null, new { @class = "glyphicon glyphicon-plus" })
            }
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">@Html.DisplayFor(modelItem => item.PostingDate)</span>
                    @Html.DisplayFor(modelItem => item.Title)<br />
                    @Html.DisplayFor(modelItem => item.Text)
                    <ul class="list-group">
                        <li class="list-group-item">
                            @using (Html.BeginForm("Reply", "MessageViewModels", FormMethod.Post))
                            {
                                <span class="badge">@Html.DisplayFor(modelItem => item.PostingDate)</span>
                                 @Html.DisplayFor(modelItem => item.Textreply)
                                 
                            }

                            @*<input type="submit" value="Submit" />*@




                            @if (User.Identity.IsAuthenticated)
                            {
                                @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "glyphicon glyphicon-edit" })<span></span>
                                
                                @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "glyphicon glyphicon-remove" })<span></span>
                                @Html.ActionLink(" ", "Reply", new { id = item.Id}, new { @class = "fa fa-reply" })<span></span>
                                @*@Html.ActionLink(" ", "Create", "Replies", null, new { @class = "fa fa-reply" })<span></span>*@
                            }
                        
                        </li>
                    </ul>
                </li>
            </ul>
        </td>
        <td></td>
    </tr>
}

</table>
