@model IEnumerable<SchoolForum.Models.ViewModel.MessagesViewModel>

@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <div class="container">
        <div class="text-center animated jackInTheBox">
            <p>
                <h3>Press</h3>
                <i class="glyphicon glyphicon-plus"></i> to create a new message.<br />
                <i>OR</i><br />
                <i class="glyphicon glyphicon-arrow-left"></i> to go back to the categories list.
            </p>
        </div>
    </div>
</div>
<span>
    @Html.ActionLink(" ", "Index", "SchoolForum", new { area = "" }, new { @class = "glyphicon glyphicon-arrow-left" })<span> </span>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink(" ", "Create", null, new { @class = "glyphicon glyphicon-plus" })
    }
</span>
<table class="table table-hover table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.NumberOfMessages)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.NumberOfMessages)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.User)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "glyphicon glyphicon-edit" })<span></span>
                @*@Html.ActionLink(" ", "Details", new { id=item.Id }, new { @clss= "glyphicon glyphicon-align-justify"})<span></span>*@
                @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "glyphicon glyphicon-trash" })<span></span>
            }
        </td>
    </tr>
}

</table>
